<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HotelApp">

	<test name="HotelDetailPage">
		<classes>
			<class name="com.trip.hotel.test.android.qa.self.test">
				<methods>
					<include name="softAssert"></include>
				</methods>


			</class>
		</classes>
	</test>




	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<!--失败重试监听器 -->
		<!-- <listener class-name="com.trip.qa.test.web.utils.RetryListener" /> -->
		<listener class-name="com.trip.hotel.test.web.utils.TestLinster"></listener>
	</listeners>

</suite> 

